@import 'utils/reset';
@import 'utils/colors';
@import 'utils/typography';
@import 'utils/mixins';

$body-background-color: $base-black-color;
$body__title-color: $base-mint-green-color;
$body__title-gradient: $base-mint-turquoise-text-gradient;
$body__input-focused-border-color: $base-mint-green-color;
$body__input-background-color: $base-eerie-black-color;
$body__footer-text-color: #{lighten($body-background-color, 20%)};

body {
  font-size: 1rem;
  font-family: $body-font;
  font-weight: 400;
  color: white;
  background-color: $body-background-color;

  header {
    width: 100%;
    padding: 2rem 1rem;

    .app-title {
      font-weight: 700;
      font-size: 2rem;
      font-family: $logo-font;
      width: fit-content;
      width: -moz-fit-content;
      margin: auto;
      background-color: $body__title-color;
      background-image: $body__title-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include viewport-md {
        font-size: 2.5rem;
      }

      @include viewport-xl-1 {
        font-size: 3rem;
      }
    }
  }

  .container {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include viewport-sm {
      max-width: 540px;
    }

    @include viewport-md {
      max-width: 720px;
    }

    @include viewport-lg {
      max-width: 960px;
    }

    @include viewport-xl-1 {
      max-width: 1140px;
    }

    @include viewport-xl-2 {
      max-width: 1320px;
    }

    @include viewport-xl-3 {
      max-width: 1580px;
    }

    @include viewport-xl-4 {
      max-width: 1680px;
    }

    input {
      color: rgba(255, 255, 255, 0.8);
      width: 20rem;
      background-size: 14px;
      background: $body__input-background-color
        url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%23fff' d='M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z'%3e%3c/path%3e%3c/svg%3e")
        no-repeat 1.25rem center;
      padding: 0.875rem 1rem 0.875rem 2.75rem;
      border-radius: 50rem;
      border: 1px solid transparent;
      @include transition-all;
      @include soft-shadow;

      &:focus {
        border: 1px solid $body__input-focused-border-color;
      }
    }
    input[type='search']::-webkit-search-cancel-button {
      appearance: none;
      height: 1em;
      width: 1em;
      border-radius: 50em;
      background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3e%3cpath fill='%23fff' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'%3e%3c/path%3e%3c/svg%3e")
        no-repeat;
      opacity: 0.7;
      background-size: contain;
      cursor: pointer;
    }

    /* Change Autocomplete styles in Chrome*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
      border: 1px solid $body__input-focused-border-color;
      -webkit-text-fill-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 0 1000px $body__input-background-color inset;
    }
  }

  footer {
    @extend header;
    text-align: center;
    font-size: 0.875rem;
    color: $body__footer-text-color;
  }
}
