@import 'utils/reset.scss';
@import 'utils/colors.scss';
@import 'utils/typography.scss';
@import 'utils/mixins.scss';

$body-background-color: $base-black-color;
$body__title-color: $base-mint-green-color;
$body__title-gradient: $base-mint-turquoise-text-gradient;
$body__footer-text-color: #{lighten($body-background-color, 20%)};

body {
  font-size: 1rem;
  font-family: $body-font;
  font-weight: 400;
  color: white;
  background-color: $body-background-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $heading-font;
  }

  header {
    width: 100%;
    padding: 2rem 1rem;

    .app-title {
      font-weight: 700;
      font-size: 2.5rem;
      width: fit-content;
      margin: auto;
      background-color: $body__title-color;
      background-image: $body__title-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .container {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;

    @include viewport-sm {
      max-width: 540px;
    }

    @include viewport-md {
      max-width: 720px;
    }

    @include viewport-lg {
      max-width: 960px;
    }

    @include viewport-xl-1 {
      max-width: 1140px;
    }

    @include viewport-xl-2 {
      max-width: 1320px;
    }

    @include viewport-xl-3 {
      max-width: 1580px;
    }

    @include viewport-xl-4 {
      max-width: 1680px;
    }
  }

  footer {
    @extend header;
    text-align: center;
    font-size: 0.875rem;
    color: $body__footer-text-color;
  }
}
